.todo-list{
    width: 400px;
    height: 300px;
    background-color: rgb(32, 27, 20);
    margin: 0 auto;
    color:whitesmoke;
    border: 3px solid red;
    border-radius: 7px;
}
a{
  text-decoration:none;
}
a:link{
  color:red;
}
a:hover{
  color:blue
}
a:active{
  color:orange
}
a:focus{
  outline: 3px solid red;
}
a:visited{
  color:burlywood;
}